.dashboard {
  padding: 20px;
  background: #f4f6f9;
  min-height: 80vh;
}

.hero-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.market-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.card.green {
  background: #00c853 !important;
}

.card.red {
  background: #d50000 !important;
}

.card.maroon {
  background: #800000 !important;
}
